<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="SaveOverApp.SaveOverforSheltered2"
    Publisher="CN=5E538825-40D2-4F7F-BBB8-35A55A95F567"
    Version="0.1.0.0" />

  <Properties>
    <DisplayName>SaveOver for Sheltered 2</DisplayName>
    <PublisherDisplayName>SaveOver</PublisherDisplayName>
    <Logo>Assets\AppIcons\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.17763.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="SaveOver for Sheltered 2"
        Description="Edit your Sheltered 2 save files: characters, pets, inventory, and faction standing."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\AppIcons\Square150x150Logo.png"
        Square44x44Logo="Assets\AppIcons\Square44x44Logo.png">
        <uap:DefaultTile
          Square310x310Logo="Assets\AppIcons\LargeTile.png"
          Wide310x150Logo="Assets\AppIcons\Wide310x150Logo.png"
          Square71x71Logo="Assets\AppIcons\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\AppIcons\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
